<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'core/css/bootstrap.min.css'%}" type="text/css" rel="stylesheet"> 
    <link href="{% static 'core/css/Estilos.css'%}" type="text/css" rel="stylesheet">    
    <title>Document</title>
    <style>
        body {background-color:black;}
    </style>
</head>
<body>
    <!--Simplemente agarre mi navbar viejo-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button"> </button>
        <div class="collapse navbar-collapse" id="opciones">   
            <ul class="navbar-nav">
            <li class="nav-item"> <a class="nav-link  active" href="{% url 'Form1' %}">Formulario 1</a> </li>
            <li class="nav-item"> <a class="nav-link  active" href="{% url 'Form2' %}">Formulario 2</a> </li>
            <li class="nav-item"> <a class="nav-link  active" href="{% url 'Form3' %}">Formulario 3</a> </li>
            <li class="nav-item"> <a class="nav-link  active" href="{% url 'home' %}">Inicio</a> </li>           
        </div>
    </nav> 
    <div class="row">
    <table class="table">
        <thead>
            <tr><th scope="col">email</th><th scope="col">password</th><th scope="col">fotoP</th><th scope="col">rut</th>
            <th scope="col">rutD</th><th scope="col">Nombre</th><th scope="col">fono</th><th scope="col">direccion</th><th scope="col">pais</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>email</td></tr><tr><td>password</td></tr><tr><td>fotoP</td></tr><tr><td>rut</td></tr><td><tr>rutD</tr></td><td><tr>nombre</tr></td><td><tr>fono</tr></td>
        <td><tr>direccion</tr></td><td><tr>pais</tr></td>
        {% for ve in colaborador %}
        <tr><td>{{ve.email}}</td></tr><tr><td>{{ve.password}}</td></tr><tr><td>{{ve.fotoP}}</td></tr><tr><td>{{ve.rut}}</td></tr><td><tr>{{ve.rutD}}</tr></td>
        <td><tr>{{ve.nombre}}</tr></td><td><tr>{{ve.fono}}</tr></td><td><tr>{{ve.direccion}}</tr></td><td><tr>{{ve.pais}}</td>
        <td><a href="{% url 'Form2' ve.email %}">Modificar</a></td>
        <td><a href="{% url 'Form2' ve.email %}">Elimintar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'Form1' %}">Nuevo usuario</a>
    </div>
    
</body>
</html>